@import 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap';

$font-sans-serif: "Rubik", sans-serif;

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px

	* {
		box-sizing: inherit;
	}
}

body {
	background-color: #0e474d;
	display: grid;
	font-family: $font-sans-serif;
	font: normal 1.4rem/1.5 $font-sans-serif;
	min-height: 100vh;
	padding: 4rem 0;
	place-content: center;
	
	@media (min-width: 1024px) {
		font-size: 1.6rem;
	}
}

h1 {
	font: bold 3.2rem/1.25 $font-sans-serif;
	margin-bottom: 1.6rem;
	
	@media (min-width: 1024px) {
		font-size: 4rem;
	}
}

p {
	color: #333;
	margin-bottom: 2.4rem;
}

img {
	display: block;
	max-width: 100%;
}

button {
	appearance: none;
	background-color: #c9783a;
	border: none;
	border-radius: 2rem;
	color: #fff;
	cursor: pointer;
	font: bold 2rem $font-sans-serif;
	padding: 0.8rem 2.4rem;
}

.counter {
	&__inner {
		display: flex;
		gap: 0.8rem;
	}
	
	&__button {
		appearance: none;
		background: none;
		border: 0.2rem solid #000;
		border-radius: 2rem;
		color: #000;
		font: normal 1.6rem $font-sans-serif;
		padding: 0.8rem 1.3rem;
		user-select: none;
		
		&:active {
			background-color: #000;
			color: #fff;
		}
		
		&[disabled] {
			color: #aaa;
			border-color: #aaaa;
			pointer-events: none;
		}
	}
	
	&__value {
		min-width: unset !important;
		text-align: center;
		width: 7.2rem;
	}
}

.formfield {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.8rem;
	
	@media (min-width: 1024px) {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
	
	&__label {
		font-weight: bold;
		margin-bottom: 0.4rem;
		
		@media (min-width: 1024px) {
			margin-bottom: 0;	
		}
	}
	
	&__input {
		appearance: none;
		border: 0.2rem solid #000;
		border-radius: 2rem;
		color: #000;
		font: normal 1.6rem $font-sans-serif;
		padding: 0.8rem 2.4rem;
		min-width: 20rem;
		max-width: 100%;
	}
}

select {
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLmNscy0xIHsKICAgICAgICBmaWxsOiBub25lOwogICAgICAgIHN0cm9rZTogIzIzMWYyMDsKICAgICAgICBzdHJva2UtbGluZWNhcDogcm91bmQ7CiAgICAgICAgc3Ryb2tlLWxpbmVqb2luOiByb3VuZDsKICAgICAgICBzdHJva2Utd2lkdGg6IDJweDsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBvbHlsaW5lIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIyIDcgMTIgMTcgMjIgNyIvPgo8L3N2Zz4=");
	background-position: calc(100% - 1.6rem) center;
	background-repeat: no-repeat;
	background-size: 1.6rem;
	cursor: pointer;
}

.product {
	background-color: #fff;
	outline: 4px solid #000;
	border-radius: 4rem;
	display: grid;
	max-width: 40rem;
	width: calc(100vw - 8rem);
	
	@media (min-width: 1024px) {
		grid-template-columns: 1fr 1fr;
		max-width: 96rem;
	}
	
	&__image {
		img {
			aspect-ratio: 1;
			border-radius: 4rem;
			object-fit: cover;
		}
	}
	
	&__info {
		padding: 4rem;
	}
	
	&__selections {
		margin-bottom: 0.8rem;
	}
	
	&__summary {
		display: flex;
		flex-direction: column;
		
		@media (min-width: 1024px) {
			align-items: flex-end;
		}
	}
	
	&__total {
		font-size: 2.4rem;
		font-weight: bold;
		margin-bottom: 1.6rem;
	}
}