/* Resetear algunos estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo de la sección de proveedores */
#suppliers-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#suppliers-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

#modal-overlay.hidden, #add-supplier-form.hidden {
    display: none;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#add-supplier-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

#add-supplier-form h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#add-supplier-form form label {
    display: block;
    margin-bottom: 5px;
}

#add-supplier-form form input, #add-supplier-form form textarea, #add-supplier-form form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#add-supplier-form form button {
    background-color: #007BFF;
    margin-right: 10px;
}

#add-supplier-form form button:hover {
    background-color: #0056b3;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

td button:hover {
    background-color: #e60000;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#add-supplier-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    max-height: 80vh; /* Altura máxima del modal */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

#add-supplier-form h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}
