body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .btn-ingresar {
    background-color:#6a0dad;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
  }
  .search-bar {

    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si hay más contenido */
    width: 80%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
  }
  .search-bar input {
    
    width: 150%; /* Ajusta el ancho del campo de entrada */
  padding: 10px 30px; /* Aumenta el tamaño del área de texto */
  border-radius: 20px; /* Bordes redondeados para mejorar el diseño */
  font-size: 16px; /* Tamaño de texto */
  }
  .hero {
    position: relative;
    text-align: center;
    padding: 5px;
    
  }
  
  .hero-image {
    width: 100%; /* Ajusta al 100% del ancho de la sección */
    max-width: 1700px; /* Limita el ancho máximo */
    height: auto; /* Mantiene la proporción */
    border-radius: 15px;
  }
  .categories {
    padding: 40px 20px;
    text-align: center;
  }
  .categories h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .categories p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .category-list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .category-card {
    background-color: #1b1b40;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column; /* Asegura que el contenido se apile verticalmente */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    height: 300px; /* Establece una altura fija para uniformar todas las tarjetas */
  }
  .category-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
